# Подключение к PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dqp_db
DB_USER=dqp_user
DB_PASSWORD=dqp_pass

# Порог строк: если таблица больше этого числа,
# профайлер будет читать метрики из pg_stats вместо точного скана
PROFILER_THRESHOLD=100000
# Schedule configuration
CUSTOMERS_SCHEDULE_HOURS=6
ORDERS_SCHEDULE_HOURS=12
BIG_TABLE_SCHEDULE_HOURS=24