# 1. Виртуальное окружение 
venv/
env/

# 2. Кэш Python и тестов
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# 3. СЕКРЕТЫ (Никогда не коммитим локальные пароли!)
.env
.env.local

# 4. Системный мусор macOS
.DS_Store

# 5. Настройки IDE (у каждого разработчика свои)
.vscode/
.idea/